@charset "utf8";

html, body {
	width: 100%;
	height: 100%;
	min-width: 300px;
	overflow: hidden;
}

html > body {
	padding-top: 50px;
	position: relative;
}

.hide-scroll-bars {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.hide-scroll-bars::-webkit-scrollbar {
	display: none;
}

.navbar {
	width: 100%;
	height: 50px;
	min-width: 300px;
	background-color: #F0F0F0;
	padding: 0;
}

.inner-header, .inner-header:hover, .inner-header:focus,
.inner-header:active, .inner-header:visited {
	height: 50px;
	width: 150px;
	background-color: #337ab7;
	float: left;
	cursor: default;
}

.inner-header > img {
	float: left;
	height: 26px;
	margin: 10px 0 14px 10px;
	cursor: pointer;
}

.inner-header > h4 {
	float: left;
	height: 30px;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	color: #FFF;
	margin: 10px 4px;
	cursor: pointer;
}

.header-function {
	float: right;
	height: 50px;
	padding: 0 20px 0 0;
	margin-right: -10px;
}

.header-function > li {
	padding: 0 10px;
	margin: 0;
	float: left;
	height: 50px;
	font-size: 16px;
	color: #337AB7;
	line-height: 50px;
	display: inline-block;
	cursor: default;
}

.header-function > li:not([data-effect*=user]):hover {
	cursor: pointer;
	background-color: #E0E0E0;
}

.article-main {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-left: 150px;
	position: relative;
	-webkit-transition: padding-left .4s;
	-moz-transition: padding-left .4s;
	-ms-transition: padding-left .4s;
	-o-transition: padding-left .4s;
	transition: padding-left .4s;
}

.navbar-side {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 100%;
	background-color: #337ab7;
	color: #FFF;
	font-size: 16px;
	margin-left: 0;
	-webkit-transition: margin-left .4s;
	-moz-transition: margin-left .4s;
	-ms-transition: margin-left .4s;
	-o-transition: margin-left .4s;
	transition: margin-left .4s;
	z-index: 1002;
}

.navbar-side > ol {
	width: 100%;
	height: 100%;
	padding: 10px 0;
	overflow: auto;
}

.navbar-side > ol > li {
	width: 100%;
	height: 34px;
	line-height: 34px;
	padding: 0 16px;
	cursor: pointer;
}

.navbar-side > ol > li:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.navbar-side > ol > li[class*=selected] {
	color: #337AB7;
	background-color: #E7EEF4;
}

.navbar-side > ol > li:not([class*=selected]) > span:first-child {
	display: none;
}

.navbar-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1001;
	display: none;
}

.main-frame {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	background-color: #F8F8F8;
}

/*BootStrap lg-md-sm*/
@media screen and (min-width:768px) {
}

/*BootStrap xs*/
@media screen and (max-width:767px) {
	/* ol > li[data-effect*=user] {display: none;} */
}

@media screen and (min-width:451px) {
	.navbar-side[class*=navbar-hidden] { margin-left: 0px; }
}

/* 对宽度过小的屏幕隐藏部分内容以保证布局正常显示 */
@media screen and (max-width:450px) {
	/* ol > li > span[data-effect] {display: none;} */
	.article-main { padding-left: 0; }
	.article-main[class*=navbar-hidden] { padding-left: 0; }
	.navbar-side[class*=navbar-hidden] { margin-left: -150px; }
	.navbar-side:not([class*=navbar-hidden]) + .navbar-mask { display: block; }
}

/* 对高度过小的屏幕隐藏部分内容以保证布局正常显示 */
@media screen and (max-height:350px) {
}
