@charset "utf8";

/*
公共样式
*/
html body {
	padding-bottom: 20px;
}

.cookie-tip {
	position: fixed;
	top: 0;
	z-index: 1001;
	width: 100%;
	background-color: #FFF6B8;
	border: 2px solid #FFD158;
	padding: 16px;
	font-size: 16px;
	line-height: 20px;
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.cookie-tip[class*="active"] {
	opacity: 1;
}

.cookie-tip > a {
	display: inline-block;
	cursor: pointer;
	text-decoration: underline;
}

/*
头部样式
*/
.index-header {
	width: 90%;
	height: 50px;
	font-size: 26px;
	font-weight: 500;
	line-height: 50px;
	color: #337ab7;
	margin-top: 30px;
	margin-bottom: 20px;
}

.index-header .header-box {
	padding: 0;
}

.index-header .header-box .header-image {
	width: 32px;
	height: 32px;
	float: left;
	display: inline-block;
	fill: #337ab7;
	margin-top: 6px;
	margin-right: 14px;
}

/* 对宽度过小的屏幕隐藏系统图标以保证标题正常显示 */
@media screen and (max-width:500px) {
	.index-header .header-box .header-image { display: none; }
}

.index-header .header-box .header-text {
	height: 50px;
	float: left;
}

/*
表单样式
*/
.index-container {
	width: 90%;
	overflow: hidden;
}

/* PC、Paid等大屏幕专用 */
@media screen and (min-width:768px) {
	.index-container { height: 400px; }
}

.index-container .container-login {
	position: relative;
	height: 100%;
	padding: 0;
	background-color: #F0F0F0;
}

.index-container .container-login .login-title {
	width: 90%;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #444;
	font-size: 18px;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.index-container .container-login .login-form {
	width: 90%;
}

.form-group {
	position: relative;
}

.form-control {
	padding-right: 38px;
}

.form-icon {
	position: absolute;
	right: 12px;
	top: 6px;
	width: 20px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #C8C8C8;
}

.index-container .container-login .login-tips {
	width: 90%;
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.login-tips .warning-tips {
	float: left;
}

.login-tips .forgoten {
	float: right;
}

.index-container .container-login .login-buttons {
	width: 90%;
	margin-top: 10px;
	margin-bottom: 30px;
}
