@charset "utf8";

ul, li {
	list-style: none;
}

.center-vertical {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.center-complete {
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	-o-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.index-footer {
	width: 90%;
	height: 20px;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	margin-top: 34px;
}
