<!DOCTYPE html>
<html lang="zh-CH">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="applicable-device" content="pc, mobile">

	<title>成绩查询</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/public-style.css">
	<link rel="stylesheet" type="text/css" href="/css/row-boxs.css">
	<link rel="stylesheet" type="text/css" href="/css/include/achievement_query_main.css">
</head>
<body>

<ol class="row-list query-list">
	<li class="row-box">
		<div class="row-box-title">试卷基本信息</div>
		<div class="message-box">
			1. 题目数量：<font color="red">9</font>道（单项选择题：2道，多项选择题：4道，阅读题：3道）<br/>
			2. 答题学生数量：1人（提交：1人，保存：0人，未做：0人）<br/>
			3. 发布时间：2019-07-24 10:25:41<br/>
			4. 平均得分：<font color="green">100</font>分（满分：100分）<br/>
		</div>
	</li>
	<li class="row-box">
		<div class="row-box-title">学生行为数据</div>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>编号</th>
					<th>学号</th>
					<th>姓名</th>
					<th>题号</th>
					<th>总用时</th>
					<th>作答历史</th>
					<th>变更时间</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</li>
</ol>

</body>

<!-- SCRITPS -->
<script type="text/javascript" charset="utf-8" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/base64.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/cookies.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/include/achievement_query_main.js"></script>
<!-- END SCRIPTS -->

</html>