<!DOCTYPE html>
<html lang="zh-CH">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="applicable-device" content="pc, mobile">

	<title>用户设置</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/public-style.css">
	<link rel="stylesheet" type="text/css" href="/css/row-boxs.css">
</head>
<body>
	
<input id="password" type="password" name="password"/>

</body>

<!-- SCRITPS -->
<script type="text/javascript" charset="utf-8" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/jquery-strength.js"></script><!-- jQuery密码强度验证插件 -->
<script type="text/javascript">
	$(document).on("input propertychange", "input", function() {
		console.log($("#password").getStrength());
	});
</script>
<!-- END SCRIPTS -->

</html>