<!DOCTYPE html>
<html lang="zh-CH">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="applicable-device" content="pc, mobile">

	<title>功能未开放</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/public-style.css">
	<link rel="stylesheet" type="text/css" href="/css/row-boxs.css">
</head>
<body>

<div class="row-list" style="margin-top: 20px; margin-bottom: 20px;">
	<div class="row-box">
		<div class="row-box-title">提示</div>
		<div class="message-box">当前功能未开放</div>
	</div>
</div>

</body>

<!-- SCRITPS -->
<script type="text/javascript" charset="utf-8" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
<!-- END SCRIPTS -->

</html>