<!DOCTYPE html>
<html lang="zh-CH">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="applicable-device" content="pc, mobile">

	<title>试卷作答</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/public-style.css">
	<link rel="stylesheet" type="text/css" href="/css/include/paper-answering-view.css">
</head>
<body>



<div class="bottom-rate" id="bottom-rate">
	<a class="btn btn-info bottom-rate-btn" id="question-list-btn" data-toggle="collapse" data-parent="#bottom-rate" href="#question-list-panel">
		<span>隐藏题目列表</span><span class="caret"></span>
	</a>
	<div class="collapse in" id="question-list-panel">
		<div class="panel-body question-list-panel">
			<ul>
				<li class="bg-success">1</li>
				<li class="bg-success">2</li>
				<li class="bg-success">3</li>
				<li class="bg-success">4</li>
				<li class="bg-success">5</li>
				<li class="bg-success">6</li>
				<li class="bg-success">7</li>
				<li>8</li>
				<li>9</li>
				<li>10</li>
				<li>11</li>
				<li>12</li>
				<li>13</li>
				<li>14</li>
				<li>15</li>
				<li>16</li>
				<li>17</li>
				<li>18</li>
				<li>19</li>
				<li>20</li>
				<li>21</li>
				<li>22</li>
				<li>23</li>
				<li>24</li>
				<li>25</li>
				<li>26</li>
				<li>27</li>
				<li>28</li>
				<li>29</li>
				<li>30</li>
				<li>31</li>
				<li>32</li>
				<li>33</li>
				<li>34</li>
				<li>35</li>
				<li>36</li>
				<li>37</li>
				<li>38</li>
				<li>39</li>
				<li>40</li>
				<li>41</li>
				<li>42</li>
				<li>43</li>
				<li>44</li>
				<li>45</li>
				<li>46</li>
				<li>47</li>
				<li>48</li>
				<li>49</li>
				<li>50</li>
			</ul>
		</div>
	</div>
</div>
	
</body>

<!-- SCRITPS -->
<script type="text/javascript" charset="utf-8" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/base64.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/cookies.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/include/paper-answering-view.js"></script>
<!-- END SCRIPTS -->

</html>