<!DOCTYPE html>
<html lang="zh-CH">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="applicable-device" content="pc, mobile">

	<title>试卷作答</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/public-style.css">
	<link rel="stylesheet" type="text/css" href="/css/row-boxs.css">
	<link rel="stylesheet" type="text/css" href="/css/include/paper_answering_view.css">
</head>
<body>

<div class="col-xs-12 paper-info">
	<div class="col-lg-11 col-md-11 col-sm-11 col-xs-10">
		<span class="glyphicon glyphicon-log-out"></span>
		<span id="paper-name">2019年软件工程期末测试 - A卷（数统）</span>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 current-index" style="background: red">1/50</div>
</div>

<div class="row-list question-view">
	<div class="row-box">
		<div data-effect="type"><p>1.（多项选择题）</p></div>
		<div data-effect="area"><p>已知反应X+Y= M+N为放热反应,对该反应的下列说法中错误的有</p></div>
		<form>
			<table class="table table-hover"><tbody>
				<tr>
					<td>
						<input type="checkbox" name="checkbox">
					</td>
					<td>A</td>
					<td>X的能量一定高于M</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="checkbox">
					</td>
					<td>B</td>
					<td>Y的能量一定高于N</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="checkbox">
					</td>
					<td>C</td>
					<td>X和Y的总能量一定高于M和N的总能量</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" name="checkbox">
					</td>
					<td>D</td>
					<td>因该反应为放热反应,故不必加热就可发生</td>
				</tr>
			</tbody></table>
		</form>
		<div data-effect="answer">
			<label class="col-lg-1 col-md-1 col-sm-1">作答结果：</label>
			<label class="col-lg-2 col-md-2 col-sm-2">C</label>
		</div>
		<button class="btn btn-primary btn-r">下一题</button>
	</div>
</div>

<div class="bottom-rate" id="bottom-rate">
	<a class="btn btn-info bottom-rate-btn" id="question-list-btn">
		<span>隐藏题目列表</span><span class="caret"></span>
	</a>
	<div class="question-list-panel" id="question-list-panel">
		<ul>
			<li class="answer-t current">1</li>
			<li class="answer-t">2</li>
			<li class="answer-t">3</li>
			<li class="answer-t">4</li>
			<li class="answer-t">5</li>
			<li class="answer-t">6</li>
			<li class="answer-t">7</li>
			<li>8</li>
			<li>9</li>
			<li>10</li>
			<li>11</li>
			<li>12</li>
			<li>13</li>
			<li>14</li>
			<li>15</li>
			<li>16</li>
			<li>17</li>
			<li>18</li>
			<li>19</li>
			<li>20</li>
			<li>21</li>
			<li>22</li>
			<li>23</li>
			<li>24</li>
			<li>25</li>
			<li>26</li>
			<li>27</li>
			<li>28</li>
			<li>29</li>
			<li>30</li>
			<li>31</li>
			<li>32</li>
			<li>33</li>
			<li>34</li>
			<li>35</li>
			<li>36</li>
			<li>37</li>
			<li>38</li>
			<li>39</li>
			<li>40</li>
			<li>41</li>
			<li>42</li>
			<li>43</li>
			<li>44</li>
			<li>45</li>
			<li>46</li>
			<li>47</li>
			<li>48</li>
			<li>49</li>
			<li>50</li>
		</ul>
	</div>
</div>
	
</body>

<!-- SCRITPS -->
<script type="text/javascript" charset="utf-8" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/base64.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/cookies.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/include/question_edit_controler.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/include/paper_answering_view.js"></script>
<!-- END SCRIPTS -->

</html>