<!DOCTYPE html>
<html lang="zh-CH">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no">
	<meta name="applicable-device" content="pc, mobile">

	<title>个人信息</title>

	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/public-style.css">
	<link rel="stylesheet" type="text/css" href="/css/row-boxs.css">
	<link rel="stylesheet" type="text/css" href="/css/include/personal_display_main.css">
</head>
<body>
	<ul class="row-list information-list">
		<li class="row-box">
			<h3 id="header-hello"></h3>
		</li>
		<li class="row-box">
			<div class="row-box-title">个人信息</div>
			<div class="message-box">
				<ul id="user-info"></ul>
			</div>
		</li>
		<li class="row-box">
			<div class="row-box-title">通知消息</div>
			<div class="message-box">
				<ul id="notice-info">暂无</ul>
			</div>
		</li>
	</ul>
</body>

<!-- SCRITPS -->
<script type="text/javascript" charset="utf-8" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/base64.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/cookies.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/include/personal_display_main.js"></script>
<!-- END SCRIPTS -->

</html>